body{
    font-family: Montserrat, sans-serif;
    background-color: #464943;
}

html{
    margin: none;
}
*{
    margin: 0;
    padding: 0;
}

/* unvisited link */
a:link {
    color: aliceblue;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: gray;
    font-size: 14px;
  }
  
  /* selected link */
  a:active {
    color: #464943;
  }

.Name_div{
    float: left;
    margin: 25px 0px 0px 15px;
}

.header_nav .nav_items{
    /* background-color: #deefce; */
    font-size: 12px;
    display: block;
    width: 100px;
    height: 50px;
    float: right;
    margin: none;
}

.header_nav{
    margin-right: 2%;
}

.nav_items p{
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
}